body, html {
    margin: 0; padding: 0;
    height: 100%; font-family: -apple-system, sans-serif;
    background-color: #f5f5f5; overflow: hidden;
}

.view {
    height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center;
}

/* Pantalla PIN */
.login-box {
    background: white; padding: 30px; border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); text-align: center; width: 80%;
}

.logo { width: 150px; margin-bottom: 20px; }

input {
    width: 80%; padding: 15px; font-size: 24px; text-align: center;
    border: 1px solid #ccc; border-radius: 10px; margin-bottom: 20px;
}

button {
    background: #0072bb; color: white; border: none;
    padding: 15px 30px; border-radius: 10px; font-weight: bold; width: 100%;
}

/* La Tarjeta */
.card {
    background: white; width: 90%; max-width: 400px;
    border-radius: 20px; padding: 20px; box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    margin-top: 80px;
}

.foto-container {
    width: 130px; height: 130px; margin: 0 auto 20px;
    border-radius: 50%; border: 4px solid #0072bb; overflow: hidden; position: relative;
}

.foto-container img { width: 100%; height: 100%; object-fit: cover; }

.btn-edit {
    position: absolute; bottom: 0; background: rgba(0,0,0,0.6);
    color: white; width: 100%; font-size: 10px; padding: 5px 0;
}

.info label { color: #888; font-size: 11px; font-weight: bold; display: block; margin-top: 10px; }

.info h1 { margin: 5px 0 10px; font-size: 20px; color: #333; }

.save-btn { background: #28a745; margin-top: 20px; }

.nav-bar {
    width: 100%; background: #0072bb; color: white;
    padding: 50px 20px 15px; display: flex; justify-content: space-between;
    position: fixed; top: 0; box-sizing: border-box; z-index: 10;
}
