body, html { 
    margin: 0; padding: 0; height: 100%; 
    font-family: -apple-system, sans-serif; 
    background: #ffffff; 
}

/* BARRA VIOLETA */
.header-violeta {
    background-color: #6a1b9a; /* Un violeta oscuro típico de Mi Argentina */
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo-header {
    height: 30px; /* Tamaño del logo en la barra */
    filter: brightness(0) invert(1); /* Esto pone el logo en blanco si es oscuro */
}

.view { 
    display: flex; flex-direction: column; align-items: center; justify-content: center; 
    min-height: 100vh; padding-top: 60px; /* Espacio para que la barra no tape el título */
    padding-left: 20px; padding-right: 20px;
    box-sizing: border-box; 
}

.form-container { width: 100%; text-align: center; }

@media (min-width: 768px) {
    .form-container { max-width: 350px; padding: 40px; border: 1px solid #eee; border-radius: 20px; }
}

@media (max-width: 767px) {
    .form-container { max-width: 300px; }
}

.main-title { font-size: 20px; font-weight: 500; color: #8e8e8e; margin: 20px 0 30px; }

input { 
    width: 100%; font-size: 16px; padding: 12px 10px; 
    background-color: #fafafa; border: 1px solid #ccc; 
    border-radius: 4px; margin-bottom: 20px; outline: none; 
    box-sizing: border-box; transition: all 0.2s ease;
}

.btn-lila { 
    background: #b7b1ff; color: #fff; border: none; width: 100%; 
    padding: 16px; border-radius: 12px; font-weight: bold; 
    font-size: 15px; cursor: pointer; text-transform: uppercase;
}

.footer-links { margin-top: 20px; font-size: 13px; color: #5555ff; }
.footer-links a { text-decoration: none; color: inherit; }
