body, html { margin: 0; padding: 0; font-family: Arial, sans-serif; background: #fff; height: 100vh; overflow: hidden; }

.header-violeta { 
    background: #362FC1; width: 100%; height: 65px; 
    display: flex; align-items: center; justify-content: center; 
    position: fixed; top: 0; z-index: 1000; 
}
.logo-app { height: 30px; filter: brightness(0) invert(1); }

/* VISTAS FIJAS Y CENTRADAS */
.view { 
    position: absolute; width: 100%; height: 100%; 
    display: none; flex-direction: column; align-items: center; justify-content: center; 
    padding: 20px; box-sizing: border-box; 
}
.view.active { display: flex; }

.form-container { 
    width: 100%; max-width: 320px; 
    display: flex; flex-direction: column; align-items: center; 
}

/* RECUADRO DE FIRMA MÁS CHICO */
.firma-box { 
    border: 1px solid #ccc; border-radius: 8px; 
    padding: 5px; margin: 10px 0; background: #fff; width: 200px; /* Tamaño reducido */
}
canvas { width: 100%; height: 60px; border-bottom: 1px solid #362FC1; touch-action: none; }

/* DNI VISUAL (Se mantiene igual para que no pierda calidad) */
.dni-visual-box { 
    position: relative; width: 100%; max-width: 340px; 
    aspect-ratio: 1.58 / 1; border-radius: 10px; overflow: hidden; margin-bottom: 20px; 
}
.dni-fondo-img { width: 100%; height: 100%; object-fit: cover; }
.txt-dni { position: absolute; color: #000; font-weight: bold; text-transform: uppercase; }

/* CALIBRACIÓN DNI */
.pos-foto { position: absolute; top: 22%; left: 6%; width: 23%; height: 48%; object-fit: cover; }
.pos-apellido { top: 20%; left: 30%; font-size: 14px; }
.pos-nombre   { top: 30%; left: 30%; font-size: 14px; }
.pos-dni      { top: 83%; left: 4%; font-size: 20px; letter-spacing: -0.5px; font-weight: 600; }

/* BOTONES */
.btn-entrar { background: #362FC1; color: #fff; border: none; width: 100%; padding: 14px; border-radius: 25px; font-weight: bold; margin-top: 10px; }
input { width: 100%; padding: 12px; margin-bottom: 10px; border: 1px solid #ddd; border-radius: 8px; text-align: center; }
