body, html { margin: 0; padding: 0; font-family: -apple-system, sans-serif; background: #fff; }

.header-violeta { background: #362FC1; width: 100%; height: 70px; display: flex; align-items: center; justify-content: center; position: fixed; top: 0; z-index: 1000; }
.logo-app { height: 35px; filter: brightness(0) invert(1); }

.view { position: absolute; width: 100%; min-height: 100vh; display: flex; flex-direction: column; align-items: center; padding: 90px 20px 40px; box-sizing: border-box; opacity: 0; pointer-events: none; transition: 0.4s; }
.view.active { opacity: 1; pointer-events: all; }

/* EL CONTENEDOR DEL DNI */
.dni-visual-box {
    position: relative;
    width: 100%;
    max-width: 340px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.dni-fondo-img { width: 100%; display: block; }

.datos-superpuestos { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* COORDENADAS DE LOS TEXTOS (Ajusta los % si es necesario) */
.txt-dni { position: absolute; color: #333; font-size: 11px; font-weight: bold; text-transform: uppercase; }

.pos-foto { position: absolute; top: 20%; left: 8%; width: 25%; height: 46%; object-fit: cover; }
.pos-apellido { top: 15%; left: 38%; }
.pos-nombre { top: 26%; left: 38%; }
.pos-sexo { top: 38%; left: 38%; }
.pos-nac { top: 48%; left: 38%; }
.pos-emi { top: 60%; left: 38%; }
.pos-dni { top: 78%; left: 38%; font-size: 13px; }
.pos-firma { position: absolute; bottom: 25%; right: 10%; width: 25%; height: auto; filter: grayscale(1); }

/* ESTILOS DE INPUTS */
input, select { width: 100%; padding: 12px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 6px; background: #fafafa; box-sizing: border-box; }
.grid-2 { display: flex; gap: 8px; }
.firma-box { border: 1px solid #ccc; border-radius: 8px; padding: 10px; margin: 10px 0; background: #fff; }
canvas { width: 100%; height: 80px; border-bottom: 1px solid #362FC1; touch-action: none; }
.btn-entrar { background: #362FC1; color: #fff; border: none; width: 100%; padding: 16px; border-radius: 12px; font-weight: bold; cursor: pointer; }
