body, html { 
    margin: 0; padding: 0; height: 100%; 
    font-family: -apple-system, sans-serif; 
    background: #ffffff; 
    overflow-x: hidden; 
}

/* BARRA SUPERIOR */
.header-violeta {
    background-color: #362FC1; 
    width: 100%; height: 70px;
    display: flex; align-items: center; justify-content: center;
    position: fixed; top: 0; left: 0; z-index: 1000;
}

.logo-app { 
    height: 40px; 
    width: auto; 
    object-fit: contain; 
}

/* SISTEMA DE VISTAS */
.view {
    position: absolute; width: 100%; min-height: 100vh;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    padding: 80px 20px 20px; box-sizing: border-box;
    opacity: 0; pointer-events: none;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    transform: translateY(10px);
}

.view.active { 
    opacity: 1; pointer-events: all; 
    transform: translateY(0); 
}

.form-container { width: 100%; text-align: center; }

@media (min-width: 768px) { 
    .form-container { max-width: 350px; padding: 40px; border: 1px solid #eee; border-radius: 20px; } 
}
@media (max-width: 767px) { 
    .form-container { max-width: 300px; } 
}

.main-title { font-size: 20px; font-weight: 500; color: #8e8e8e; margin: 10px 0 30px; }

input { 
    width: 100%; font-size: 16px; padding: 12px 10px; background-color: #fafafa; 
    border: 1px solid #ccc; border-radius: 4px; margin-bottom: 20px; outline: none; 
    box-sizing: border-box; transition: border 0.2s ease;
}

.btn-entrar { 
    background-color: #362FC1; color: #fff; border: none; width: 100%; 
    padding: 16px; border-radius: 12px; font-weight: bold; font-size: 15px; 
    cursor: pointer; text-transform: uppercase; margin-top: 10px;
}

.footer-links { margin-top: 25px; font-size: 13px; color: #5555ff; }
.content-placeholder { padding: 40px 20px; border: 2px dashed #eee; border-radius: 15px; margin-bottom: 30px; color: #aaa; }
